<h1> User List</h1>
<%for user in @users %>
  <td> <%= user.id %></td>
  <%= link_to users_index_path do %>
    <td> <%= user.first_name %></td>
    <td> <%= user.last_name %></td>
  <%end %>
  <br><br>
<%end %>
