<h1> User List</h1>
<ul id = "users">
  <% @users.each do |user| %>
  <tb><%= link_to user.first_name, {:action => 'show', :id => user.id} %></tb>
  <tb><%= link_to user.last_name, {:action => 'show', :id => user.id} %></tb><br><br>
<% end %>

</ul>
