<%for photo in @userf.photos %>
  <%= image_tag photo.file_name.to_s, :size => '400x400' %><br>
  <tb>Photo Created on: </tb>
  <li><%= photo.date_time %></li><br>
  <%for comment in photo.comments %>
    <li><%= comment.comment_text %></li>
    <tb>Comment Created on: </tb>
    <li><%= comment.date_time %></li>
    <%end %>
<% end %>

